.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/567A3E37/pcs/windowlayoutstate.pper
.Rproj.user/567A3E37/rmd-outputs
.Rproj.user/567A3E37/sources/prop/32272207
.Rproj.user/567A3E37/sources/prop/BDE75C08
.Rproj.user/shared/notebooks/E368C977-TADPOLE_BESS/1/s/c9g8nw1jwzetf/00001c.csv
*.pper
.Rproj.user/567A3E37/rmd-outputs
.Rproj.user/567A3E37/sources/prop/32272207
.Rproj.user/567A3E37/sources/prop/BDE75C08
.Rproj.user/567A3E37/sources/prop/E0C819C9
.Rproj.user/567A3E37/sources/session-c6729af0/2B22B83C
.Rproj.user/567A3E37/sources/session-c6729af0/2B22B83C-contents
.Rproj.user/567A3E37/sources/session-c6729af0/D21E8117
.Rproj.user/567A3E37/sources/session-c6729af0/D21E8117-contents
*.Rdata
*.json
